{% extends "base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
<div class="bg-white">
  <div class="mx-auto max-w-4xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Shopping Cart</h1>
    <ul role="list" class="divide-y divide-gray-200 border-b border-t border-gray-200">
      {% for item in cart %}
        {% with event=item.event %}
        <li class="flex py-6 sm:py-10">
          <div class="flex-shrink-0">
            <a href="{{ event.get_absolute_url }}">
              <img src="{% if event.image %}{{ event.image.url }}
              {% else %}{% static "img/no_image.png" %}{% endif %}" class="h-24 w-24 rounded-lg object-cover object-center sm:h-32 sm:w-32">
            </a>
          </div>

          <div class="relative ml-4 flex flex-1 flex-col justify-between sm:ml-6">
            <div>
              <div class="flex justify-between sm:grid sm:grid-cols-2">
                <div class="pr-6">
                  <h3 class="text-sm">
                    <a href="{{ event.get_absolute_url }}" class="font-medium text-gray-700 hover:text-gray-800">{{ event.name }}</a>
                  </h3>
                </div>
              <p class="text-right text-sm font-medium text-gray-900">${{ item.price }}</p>
              <p class="text-right text-sm font-medium text-gray-900">${{ item.total_price }}</p>
            </div>

            <form action="{% url "cart:cart_add" event.id %}" method="post">
              {{ item.update_quantity_form.quantity }}
              {{ item.update_quantity_form.override }}
              <input type="submit" value="Update">
              {% csrf_token %}
            </form>
              
            <form action="{% url "cart:cart_remove" event.id %}" method="post">
              <input type="submit" value="Remove" class="ml-4 text-sm font-medium text-indigo-600 hover:text-indigo-500 sm:ml-0 sm:mt-3">
              {% csrf_token %}
            </form>
            </div>
          </div>
        </div>
      </li>
        {% endwith %}
      {% endfor %}  
      <!-- Cart Loop end -->
    </ul>
  </div>

  <!-- Order summary -->
  <div class="mx-auto max-w-4xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div class="mt-10 sm:ml-32 sm:pl-6">
      <div class="rounded-lg bg-gray-50 px-4 py-6 sm:p-6 lg:p-8">
        <h2 class="sr-only">Order summary</h2>

        <div class="flow-root">
          <dl class="-my-4 divide-y divide-gray-200 text-sm">
            <!-- <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Subtotal</dt>
              <dd class="font-medium text-gray-900">$99.00</dd>
            </div>
            <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Shipping</dt>
              <dd class="font-medium text-gray-900">$5.00</dd>
            </div>
            <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Tax</dt>
              <dd class="font-medium text-gray-900">$8.32</dd>
            </div> -->
            <div class="flex items-center justify-between py-4">
              <dt class="text-base font-medium text-gray-900">Order total</dt>
              <dd class="text-base font-medium text-gray-900">${{ cart.get_total_price }}</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="mt-10">
        <a href="{% url "events:event_list" %}" class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50">Checkout</a>
      </div>

      <div class="mt-6 text-center text-sm text-gray-500">
        <p>
          or
          <a href="" class="font-medium text-indigo-600 hover:text-indigo-500">
            Continue Shopping
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}